<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>C/C++</string>
		<key>HighLightCommand</key>
		<string>cpp</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Caml</string>
		<key>HighLightCommand</key>
		<string>caml</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>ChangeLog</string>
		<key>HighLightCommand</key>
		<string>changelog</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Flex</string>
		<key>HighLightCommand</key>
		<string>flex</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Java</string>
		<key>HighLightCommand</key>
		<string>java</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Javascript</string>
		<key>HighLightCommand</key>
		<string>javascript</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Log</string>
		<key>HighLightCommand</key>
		<string>log</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lua</string>
		<key>HighLightCommand</key>
		<string>lua</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Perl</string>
		<key>HighLightCommand</key>
		<string>perl</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Php</string>
		<key>HighLightCommand</key>
		<string>php3</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Prolog</string>
		<key>HighLightCommand</key>
		<string>prolog</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Python</string>
		<key>HighLightCommand</key>
		<string>python</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ruby</string>
		<key>HighLightCommand</key>
		<string>ruby</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sml</string>
		<key>HighLightCommand</key>
		<string>sml</string>
	</dict>
</array>
</plist>