<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>C/C++</string>
		<key>HighLightCommand</key>
		<string>cpp</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bison</string>
		<key>HighLightCommand</key>
		<string>bison</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Caml</string>
		<key>HighLightCommand</key>
		<string>caml</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>ChangeLog</string>
		<key>HighLightCommand</key>
		<string>changelog</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Diff</string>
		<key>HighLightCommand</key>
		<string>diff</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Flex</string>
		<key>HighLightCommand</key>
		<string>flex</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Fortran</string>
		<key>HighLightCommand</key>
		<string>fortran</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Html</string>
		<key>HighLightCommand</key>
		<string>html</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Java</string>
		<key>HighLightCommand</key>
		<string>java</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Javascript</string>
		<key>HighLightCommand</key>
		<string>javascript</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lang</string>
		<key>HighLightCommand</key>
		<string>langdef</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Latex</string>
		<key>HighLightCommand</key>
		<string>latex</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Log</string>
		<key>HighLightCommand</key>
		<string>syslog</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Logtalk</string>
		<key>HighLightCommand</key>
		<string>logtalk</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lua</string>
		<key>HighLightCommand</key>
		<string>lua</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Outlang</string>
		<key>HighLightCommand</key>
		<string>outlang</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Pascal</string>
		<key>HighLightCommand</key>
		<string>pascal</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Patch</string>
		<key>HighLightCommand</key>
		<string>diff</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Perl</string>
		<key>HighLightCommand</key>
		<string>perl</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Php</string>
		<key>HighLightCommand</key>
		<string>php</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Postscript</string>
		<key>HighLightCommand</key>
		<string>postscript</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Prolog</string>
		<key>HighLightCommand</key>
		<string>prolog</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Python</string>
		<key>HighLightCommand</key>
		<string>python</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ruby</string>
		<key>HighLightCommand</key>
		<string>ruby</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Shell</string>
		<key>HighLightCommand</key>
		<string>sh</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sml</string>
		<key>HighLightCommand</key>
		<string>sml</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Style</string>
		<key>HighLightCommand</key>
		<string>style</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Syslog</string>
		<key>HighLightCommand</key>
		<string>syslog</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>XHtml</string>
		<key>HighLightCommand</key>
		<string>xml</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Xml</string>
		<key>HighLightCommand</key>
		<string>xml</string>
	</dict>
</array>
</plist>